@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    /* margin: 10px 50px 1px 50px; */
    height: 100vh;
    background-color: #8ad3d367;
}


/* image */
.first-section{
    background-image: url(images/Layer\ 1.jpg);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    width: 100%;
    height: 650px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* TEXT-------------------------------------- */
.txt{
    position: absolute;
    left: 20px;
    top: 150px;
}
.txt h1{
    color: white;
    padding-left: 150px;
    font-size: 80px;
    width: 700px;
}
.txt span{
    padding-left:100px;
}

.txt p{
    text-align: center;
    width: 540px;
    margin-left: 120px;
    color: #253a3a;
    font-size: 20px;
}

.txt button{
    margin-top: 10px;
    margin-left: 330px;
    padding: 2px 8px;
    border: 0;
    font-size: large;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
}
.txt button:hover{
    animation: but 0.9s;
    background-color: rgb(20, 102, 255);
}

@keyframes but {
    0%{
        transform: rotateY(180deg);
    }
}
/* --------------------------------------- */

/* LOGO */
.head{
    display: flex;
    justify-content: start;
}

.head img{
    width: 160px;
    height: 52px;
    margin: 18px 19px;
}
/* .lineHold{
    display: flex;
    justify-content: center;
} */
/* .line-1{
    height: 1px;
    width:50%;
    background: black;
  } */



/* Navbar */
.navbar{
    position: fixed;
    background-color:#ffffff83;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 10px;
    width: 50px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.navbar div{
    text-align: center;
    margin: 12px 0px;
}

.item ion-icon{
    font-size: 30px;
    color: #253a3a;
    cursor: pointer;
    transition: 0.9s;
}
.item ion-icon:hover{
    /* color: #ff7d03; */
    color: rgba(0, 0, 255, 0.644);
}
.item{
    text-align: center;
}
.item h6{
    display: none;
    margin-top: 3px;
    font-family: monospace;
    font-size: 20px;
    color: white;
    padding:3px 20px;
    transition: 0.9s;
}
  
.navbar .item:hover{
    width: fit-content;
    display: flex;
    padding-left: 15px;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0.781);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: 0.9s;
}
.navbar .item:hover h6{
    display: block;
    color: black;
    transition: 0.9s;
}
