
 

   /* body */
 body{
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: rgb(119, 90, 90);
 }

   /* bloc de formulaire */
 form{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 20px;
    color: white;
    
 }

 form input,button,textarea {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
 }

 #VR{
   width: 20px;
   height: 20px;
   margin-top: 10px;
 }

 #F,#H{
   width: 18px;
   height: 18px;
 }

 #FL{
   font-size: 20px;
 }


 form legend {
    font-size: 25px;
    border-bottom: 2px solid rgb(255, 246, 246);
 }

 #EN{
   width: 120px;
   height: 50px;
   font-size: 23px;
   border-radius: 7px;
 }

 #EN,#AF,#EF{
   cursor: pointer;
 }
 


 /* heading */ 
 h1{
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    text-decoration: underline;
 }

 